workflows/00bEoVpVJj4IuO5Q.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Personal Contact Finder": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Maps": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Voice Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-23T08:42:19.964Z",
  "id": "00bEoVpVJj4IuO5Q",
  "isArchived": false,
  "meta": null,
  "name": "Voice AI Caller",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful voice AI agent that excels at calling people on behalf of your user. You'll either have to find people through the personal contacts tool or find phone numbers on Google Maps.\n\n##Tools\n1. Call the contact_finder tool to find people in the users contacts list. Always ask the user to confirm after this step which contact they're interested in calling.\n2. Call the google_maps_scraper tool to find businesses. The user should provide how many businesses they want you to find, but if they don't provide an answer, please provide 5. Always ask the user to confirm after this step which business they're interested in calling.\n3. Call the voice_agent tool to call the contact or business. Never call multiple contacts or businesses during the same message or request. Always make sure that you confirm which contact the user wants to call from the result provided from the contact_finder or google_maps_scraper tool before calling. If you book an appointment successfully, always schedule it on the calendar tool immediately afterwards\n4. Call the Google Calendar tool after a call to book a successful event. If there is no successful event, do not book anything on the calendar.\n\n##Rules\n- If you find contacts or businesses on Google Maps, please always clarify which contact you'd like the user to call. You can only call one contact or business per request. \n- NEVER call multiple people simultaenously under any circumstances\n- ALWAYS ask the context of the call. They need to provide: who you're calling, what the goal is, timeframes if necessary, and what happens if you can't achieve the outcome.\n- Only book a calendar event 1) after the voice agent and 2) if the voice agent was successful in booking something\n\nToday's date is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        160
      ],
      "id": "c5e6276b-27f0-41ed-9e49-78a38c61db05",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        380
      ],
      "id": "593f7165-411f-4f9b-920a-16384cc4fd93",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        360,
        380
      ],
      "id": "ee1a00a9-014e-4351-a6d5-7fb6aa21eb8c",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "contact_finder",
        "description": "Call this tool to find my personal contacts",
        "workflowId": {
          "__rl": true,
          "value": "nKNLrKOkRx6ohVvV",
          "mode": "list",
          "cachedResultName": "Personal Contact Finder"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $fromAI(\"name\", \"name of person\") }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        620,
        380
      ],
      "id": "6428a65d-85ea-4287-9947-2e9ac6514730",
      "name": "Personal Contact Finder"
    },
    {
      "parameters": {
        "name": "google_maps_scraper",
        "description": "Call this tool to search for a business using google maps",
        "workflowId": {
          "__rl": true,
          "value": "tWSdcM1eNNTcgGsN",
          "mode": "list",
          "cachedResultName": "Feb 17th Google Maps"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "results": "={{ $fromAI(\"numberOfSearchResults\", \"how many search results does the user want, which is a numerical value\") }}",
            "country": "={{ $fromAI(\"countryCodeLowerCase\", \"this is the country code that you'll use to search Google Maps with, such asus, ca, etc - it must be lower case\") }}",
            "state": "={{ $fromAI(\"stateInitials\", \"this is the intials of the state that you'll use to search Google Maps with, such as NY, CA, etc - uppercase\") }}",
            "location": "={{ $fromAI(\"city\", \"this is the city that you'll use to search Google Maps with, such as New York, Los Angeles, etc\") }}",
            "search": "={{ $fromAI(\"industry\", \"this is the industry that you'll use to search Google Maps with, such as landscaping, roofing, photography, etc\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "search",
              "displayName": "search",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "results",
              "displayName": "results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        480,
        380
      ],
      "id": "8ef164d3-9930-4b82-ad11-917b2a98a039",
      "name": "Google Maps"
    },
    {
      "parameters": {
        "name": "voice_agent",
        "description": "Call this tool to make voice calls",
        "workflowId": {
          "__rl": true,
          "value": "XyFfj6eWQZSJw870",
          "mode": "list",
          "cachedResultName": "Feb 17 Voice Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "end_time": "={{ $fromAI(\"endTime\", \"the end time of the booking the user is looking to book if any\") }}",
            "start_time": "={{ $fromAI(\"startTime\", \"the start time of the booking the user is looking to book if any\") }}",
            "date": "={{ $fromAI(\"date\", \"the date of the user is looking to book if any\") }}",
            "first_message": "={{ $fromAI(\"first_message\", \"Please provide what the opening first message should be out of the voice agents mouth\") }}",
            "context": "={{ $fromAI(\"context\", \"please provide the context of the call, so that the call agent knows exactly what to talk about\") }}",
            "goal": "={{ $fromAI(\"conversation_goal\", \"Please provide what the goal is of the conversation\") }}",
            "relationship": "={{ $fromAI(\"relationship\", \"Please provide the relationship the user has with this entity. Is it a friend or a business?\") }}",
            "name": "={{ $fromAI(\"name\", \"Please providethe person or businesses name\") }}",
            "fall_back_plan": "={{ $fromAI(\"fall_back_plan\", \"Please provide a fallback plan in case the entity is not available at the given time. Should default to calling back in 10 minutes if user wants to move forward with it\") }}",
            "special_requests": "={{ $fromAI(\"special_requests\", \"Please provide any special requests here\") }}",
            "special_request_required": "={{ $fromAI(\"special_requests_required\", \"Is the special request required? This is a boolean field - either true or false\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "first_message",
              "displayName": "first_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "relationship",
              "displayName": "relationship",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fall_back_plan",
              "displayName": "fall_back_plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "special_requests",
              "displayName": "special_requests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "special_request_required",
              "displayName": "special_request_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        760,
        380
      ],
      "id": "f6ab83a3-1234-4909-80e4-223add93a9f0",
      "name": "Voice Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "e65463fc466fd521dc1ecc1964b4d6dbac77710e2a00f0a73b597f41477d9def@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI Agent"
        },
        "start": "={{ $fromAI(\"startTime\", \"the start time of the booking\") }}",
        "end": "={{ $fromAI(\"endTime\", \"the end time of the booking\") }}",
        "additionalFields": {
          "description": "={{ $fromAI(\"event_description\", \"the description of the booking\") }}",
          "summary": "={{ $fromAI(\"event_summary\", \"the title/summary of the booking\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        900,
        380
      ],
      "id": "4f323f3d-550c-4b4e-aa0c-0934a3209bea",
      "name": "Google Calendar"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -620,
        140
      ],
      "id": "226ecda9-44f9-420d-bbd2-2af47b58d2ae",
      "name": "Telegram Trigger",
      "webhookId": "600c6d64-98f1-4597-9448-1397bd15b675"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        60
      ],
      "id": "fd21cfd3-6b1e-4fc7-8bfa-06c1e13d08ea",
      "name": "Telegram1",
      "webhookId": "8b826288-7a45-4a12-bbf7-e07462532efb"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        60
      ],
      "id": "4eda708a-e211-4898-916b-7198ec599b10",
      "name": "OpenAI"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        200,
        160
      ],
      "id": "db638e0a-7b02-43b8-b859-ee8585ae3c48",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31c62aff-11d6-4909-9803-9a4574da9fb3",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        220
      ],
      "id": "757eb160-ce32-42d4-ac6c-90a74e777c6f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b59a106b-1951-414f-8a7d-28586d74750a",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "d",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f45c3cc7-dc14-4a4a-bcf0-f8a112acb88c",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -440,
        140
      ],
      "id": "2082c5fd-67b4-4574-8dc1-3b72cb0f1521",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        760,
        160
      ],
      "id": "02a91256-7e48-4fbc-b45e-f63d6dbb1f80",
      "name": "Telegram",
      "webhookId": "43eeb17e-4ed7-4476-adad-7b22f5484bdd"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-23T08:42:39.000Z",
  "versionId": "0f56be61-9065-4b89-834a-08d2d8355116"
}