workflows/a9cAORh87TGhqhxj.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-05T05:31:34.967Z",
  "id": "a9cAORh87TGhqhxj",
  "isArchived": true,
  "meta": null,
  "name": "main workflow",
  "nodes": [
    {
      "parameters": {
        "path": "bcd5c92b-fdef-46ec-9e51-9aa61cd225d8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        -120
      ],
      "id": "48f5aaf5-b19c-4dd5-b372-8577f80bf20c",
      "name": "Webhook",
      "webhookId": "bcd5c92b-fdef-46ec-9e51-9aa61cd225d8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        360,
        -120
      ],
      "id": "e3440118-26cb-4ee5-8c6f-f818482c3916",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.params;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        -120
      ],
      "id": "528a85b1-ed84-4a34-bf56-56932036088b",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LBZN8d55w2Ub5A1J",
          "mode": "list",
          "cachedResultName": "sub workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -140,
        -120
      ],
      "id": "809f26b7-0daa-4235-8d25-7b858b82d80c",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-05T05:56:25.000Z",
  "versionId": "f8e3548a-d8d5-4a9c-8ddf-24205ca97846"
}