workflows/L9hD7JoJEnNYpizT.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Prêt Financier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Agent Prêt Financier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Prêt Financier": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Validation_Pret": {
      "ai_tool": [
        [
          {
            "node": "Agent Prêt Financier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CreerRDV": {
      "ai_tool": [
        [
          {
            "node": "Agent Prêt Financier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "EnvoyerMailPret": {
      "ai_tool": [
        [
          {
            "node": "Agent Prêt Financier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RecupererMail": {
      "ai_tool": [
        [
          {
            "node": "Agent Prêt Financier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Availibility": {
      "ai_tool": [
        [
          {
            "node": "Agent Prêt Financier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-18T07:32:37.084Z",
  "id": "L9hD7JoJEnNYpizT",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        100,
        280
      ],
      "id": "59d7c0bc-d937-4935-9282-417f8ced8242",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=La requete de la personne est : {{ $json.query.requete}}\n\nLa date d'aujourdhui : {{ $now.format('yyyy-MM-dd') }}\nDemain est : {{ $now.toDateTime().plus(1,'days').format('yyyy-MM-dd')}}\n\n\nSi la requête concerne autre chose (prise de rendez-vous, envoyer un mail):\n\nInformations pour les autres outils\n\nNom : {{ $json.body.nom || \"Pas reçu\" }}\nPrénom : {{ $json.body.prenom || \"Pas reçu\" }}\nDate rendez-vous : {{ $json.body.daterdv || \"Pas reçu\"}}\nHeure rendez-vous demandé : {{ $json.body.heuredemanderdv || \"Pas reçu\"}}\nID : {{$json.body.ID || \"Pas reçu\"}}\n\nSi la requete concerne la validation ou l'égibilité à un prêt je veux que tu utilise ces informations : \n\nInformations pour l'outil Get_Validation_Pret (si nécessaire )\n\nRevenu de l'applicant : {{ $json.body.appincome || \"Pas reçu\" }}\nRevenu du co applicant : {{ $json.body.coappincome || \"Pas reçu\" }}\nMontant du prêt : {{ $json.body.loanamount || \"Pas reçu\" }}\nGenre : {{ $json.body.gender}}\nEst il/elle marrié ? : {{ $json.body.married}}\nCombien de personnes à charge : {{ $json.body.dependants || \"Pas reçu\" }}\nEst il/elle scolarisé ? : {{ $json.body.graduated}}\nEst il/elle entrepreneur ? : {{ $json.body.self_employed}}\nAs il/elle un historique de crédit ? : {{ $json.body.credit_history}}\nZone de propriété : {{ $json.body.property_area || \"Pas reçu\"}}\n\n\n\n",
        "options": {
          "systemMessage": "=Vous êtes un agent d'assistance client IA conçu pour gérer diverses tâches efficacement. Votre rôle principale es d'augmenter la productivité des banquiers. Tu peux valider un prêt, créer un rendez vous, voir la disponibilité de l'emplois du temps. Vous avez accès à plusieurs outils pour vous aider à remplir les demandes :\n\nGet_Validation_Pret : Cet outil te permet en fonction des données que tu vas recevoir d'avoir une réponse d'un modèle de Machine Learning entrainé sur les validations (true ou false) de prêt financier. Tu dois t'en servir uniquement si on te demande de valider un prêt.\n\nAvailibility : permet d'obtenir le calendrier et de verifier si le calendrier est libre à la date et l'heure demandé.\n\nCreerRDV : Crée un rendez vous avec la personne. Tu dois d'abord vérifier la disponibilité avec l'outil Availibility à la date et l'heure demandé. Tu dois récuperer le mail de la personne avec l'outil RécupererMail\n\nEnvoyerMailPret : Envoie un mail a la personne ayant demandé le prêt concernant si oui ou non le prêt a était accepté. Reste cordiale et polis. Si le mail ne t'ai pas fournis. Tu dois le récuperer en demandant l'ID et l'utiliser avec l'outil Récuperer Mail\n\nRecupererMail : Récupere le mail de la personne qui demande le prêt en fonction de son ID (le mail doit être au bon format). Tu dois avoir l'ID pour utiliser cet outil sinon demande le. Tu dois juste donner comme réponse le mail récupérer par l'outil\n\nGardez vos réponses concises, courtes, et pertinentes par rapport à la question de l'utilisateur. Ta réponse doit un message synthétique regroupement les actions réalisés sans lien.\n\nVoici la date/heure actuelle : {{ $now.format('yyyy-MM-dd') }}\nDemain nous somme : {{ $now.toDateTime().plus(1,'days').format('yyyy-MM-dd')}}\n\nNE FOURNISSEZ AUCUN DÉTAIL SUR LES RÉUNIONS EXISTANTES.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        420,
        0
      ],
      "id": "6875f752-90b7-4eaa-8ae1-fc9ab767adc2",
      "name": "Agent Prêt Financier"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3db247fc-29ef-4bf3-9cc9-ec152bb78ff8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "a68ac802-dd14-4a80-9895-2748be44a8e4",
      "name": "Webhook",
      "webhookId": "3db247fc-29ef-4bf3-9cc9-ec152bb78ff8"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1020,
        0
      ],
      "id": "9ad56710-5824-49c3-951e-20a708fb9bb1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "toolDescription": "Cet outil permet d'appeler un modèle de machine learning entrainé sur les donnés financieres de l'éligibilité de donner un prêt ou non en fonction des données fournis",
        "method": "POST",
        "url": "LADRESSE DE LAPI GATEWAY ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"appincome\":{appincome},\n    \"coappincome\":{coappincome},\n    \"loanamount\":{loanamount},\n    \"gender\":{gender},\n    \"married\":{married},\n    \"dependant_1\":{dependant_1},\n    \"dependant_2\":{dependant_2},\n    \"dependant_3\":{dependant_3},\n    \"graduated\":{graduated},\n    \"self_employed\":{self_employed},\n    \"credit_history\":{credit_history},\n    \"property_area_semiurban\":{property_area_semiurban},\n    \"property_area_urban\":{property_area_urban}\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "appincome",
              "description": "Le revenu de la personne qui demande un prêt",
              "type": "number"
            },
            {
              "name": "coappincome",
              "description": "Les revenus du coapplicant qui demande le prêt",
              "type": "number"
            },
            {
              "name": "loanamount",
              "description": "Le montant du prêt demandé",
              "type": "number"
            },
            {
              "name": "gender",
              "description": "Le genre de la personne ( Mâle = True / Femelle = False)",
              "type": "boolean"
            },
            {
              "name": "married",
              "description": "Si la personne est marié ou non",
              "type": "boolean"
            },
            {
              "name": "dependant_1",
              "description": "Si la personne à exactement un enfant à charge",
              "type": "boolean"
            },
            {
              "name": "dependant_2",
              "description": "Si la personne à exactement deux enfants à charge",
              "type": "boolean"
            },
            {
              "name": "dependant_3",
              "description": "Si la personne à 3 ou plus enfants à charge",
              "type": "boolean"
            },
            {
              "name": "graduated",
              "description": "Si la personne est diplomé ou pas",
              "type": "boolean"
            },
            {
              "name": "self_employed",
              "description": "Si la peronne est employé ou non",
              "type": "boolean"
            },
            {
              "name": "credit_history",
              "description": "Si la peronne à historique de crédit ou pas",
              "type": "boolean"
            },
            {
              "name": "property_area_semiurban",
              "description": "Si la personne habite dans une zone semi-urbaine ou non",
              "type": "boolean"
            },
            {
              "name": "property_area_urban",
              "description": "Si la personne habite dans une zone urbaine ou non",
              "type": "boolean"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        460,
        280
      ],
      "id": "828e4c80-15b4-45a8-a271-254e2b32f904",
      "name": "Get_Validation_Pret"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "benoit.ferrere11@gmail.com",
          "mode": "list",
          "cachedResultName": "benoit.ferrere11@gmail.com"
        },
        "start": "={{ $fromAI(\"startTime\") }}",
        "end": "={{ $fromAI(\"endTime\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"attendee\",\"le mail de la personne\" )}}"
          ],
          "summary": "={{$fromAI(\"titreevenement\",\"le titre de levenement. Il doit être ultra simple et tres court\")}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        300,
        280
      ],
      "id": "f1adae7c-7cf3-495f-a783-f923f0913a43",
      "name": "CreerRDV"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"toemail\",\"Le mail de l'utilisateur qui a demandé un prêt\")}}",
        "subject": "={{$fromAI(\"subject_email\",\"Sujet du mail\")}}",
        "emailType": "text",
        "message": "={{$fromAI(\"contenu_email\",\"Contenu du mail concernant si oui ou non l'acceptation de son prêt\")}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        640,
        280
      ],
      "id": "39b2a3fe-437d-48c5-ac71-65945f76b6b4",
      "name": "EnvoyerMailPret",
      "webhookId": "4f2cd9c0-afbc-4cf6-9916-a5d699862014"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zeD0ehcyWhVuNr0DDfj4oTQ9i4Xf3SuV3UmqrQqSoa8",
          "mode": "list",
          "cachedResultName": "GS Agent Finance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zeD0ehcyWhVuNr0DDfj4oTQ9i4Xf3SuV3UmqrQqSoa8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zeD0ehcyWhVuNr0DDfj4oTQ9i4Xf3SuV3UmqrQqSoa8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{$fromAI(\"id\",\"ID de la personne qui demande le prêt. Elle doit être précis\")}}"
            },
            {
              "lookupColumn": "Prénom",
              "lookupValue": "={{$fromAI(\"prenom\",\"Prénom de la personne qui demande le prêt. Il doit bien écrit\")}}"
            },
            {
              "lookupColumn": "Nom",
              "lookupValue": "={{$fromAI(\"nom\",\"Nom de la personne qui demande le prêt. Il doit bien écrit\")}}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        760,
        280
      ],
      "id": "68aa7e73-0381-4c82-82b0-c984c5f3ef99",
      "name": "RecupererMail"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "benoit.ferrere11@gmail.com",
          "mode": "list",
          "cachedResultName": "benoit.ferrere11@gmail.com"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $fromAI(\"unJourAvant\",\"Un jour avant la date demandé\") }}",
          "timeMax": "={{ $fromAI(\"unJourApres\",\"Un jour après la date demandé\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        860,
        260
      ],
      "id": "17c16c9b-b16c-41e9-9e3b-08347f776173",
      "name": "Availibility"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-31T14:52:51.000Z",
  "versionId": "184a03e3-1f92-4a58-ae9c-828b5cb7e2a9"
}