workflows/wIUdOND5rASk5jsc.json
{
  "active": false,
  "connections": {
    "MISTRAL -> Files": {
      "main": [
        []
      ]
    },
    "MISTRAL -> URL": {
      "main": [
        [
          {
            "node": "MISTRAL -> OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MISTRAL -> OCR": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extracteur d'informations",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extracteur d'informations": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Extracteur d'informations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Tesseract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MISTRAL -> Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-21T11:15:06.159Z",
  "id": "wIUdOND5rASk5jsc",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ocr factures",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -1020
      ],
      "id": "214a6063-e1fd-477b-8951-627b4b8f0350",
      "name": "MISTRAL -> Files",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0P4UB4gNzUPEifVb",
          "name": "Mistral API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -1020
      ],
      "id": "6400cf15-60c7-45d0-ab7f-0a6524b2387a",
      "name": "MISTRAL -> OCR",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0P4UB4gNzUPEifVb",
          "name": "Mistral API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        -1020
      ],
      "id": "127cc65a-b758-4ce7-bc24-184c70147226",
      "name": "MISTRAL -> URL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0P4UB4gNzUPEifVb",
          "name": "Mistral API"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.cleanedMarkdown }}",
        "attributes": {
          "attributes": [
            {
              "name": "numero_facture",
              "description": "Numéro de facture"
            },
            {
              "name": "facture-a",
              "description": "À qui cette facture est adressée"
            },
            {
              "name": "description_details",
              "description": "Description et détails du contenu de cette facture. ligne par ligne succinctement."
            },
            {
              "name": "conditions_de_paiement",
              "description": "Toutes les conditions de paiement. Tu dois uniquement me dire en combien de temps cela doit être réglé, comment et me donner l'Iban succinctement."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        2140,
        -1020
      ],
      "id": "d7a99d22-5b30-4f1a-a57f-06c5f1626280",
      "name": "Extracteur d'informations"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2140,
        -820
      ],
      "id": "e5490897-6d3e-4b8d-8110-0016bb32c21f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "v1DLTzLc10CcUL14",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chainsToRemove = ['festen', 'lemperriere', '78510', 'triel', 'tournelles'];\n\nlet markdown = $input.first().json.pages[0].markdown;\n\n// Supprimer chaque chaîne (insensible à la casse)\nchainsToRemove.forEach(str => {\n  markdown = markdown.replace(new RegExp(str, 'gi'), '');\n});\n\n// Nettoyer les espaces multiples et retours à la ligne inutiles\nmarkdown = markdown.replace(/\\s+/g, ' ').trim();\n\n// Retourner dans le bon format\nreturn [\n  {\n    json: {\n      cleanedMarkdown: markdown\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        -1020
      ],
      "id": "77f2caff-eb77-440e-b7ba-0c524cbd2138",
      "name": "Code"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-tesseractjs.tesseractNode",
      "typeVersion": 1,
      "position": [
        1280,
        -1200
      ],
      "id": "289a934e-d8b3-4336-9953-444941779530",
      "name": "Tesseract"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9cd4f971-6640-4f90-bb3c-da73905d98eb",
                    "leftValue": "={{ $json.data.mimetype }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa559580-5ec9-4f75-81d9-52bc34d9279f",
                    "leftValue": "={{ $json.data.mimetype }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1000,
        -1040
      ],
      "id": "3512b100-58d3-4a7d-9dab-7f190bf0c569",
      "name": "Switch"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "37a374b9-2689-4c87-b132-0644e76a2cb0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        -840
      ],
      "id": "ee768942-6707-42f0-b322-48ce71df1249",
      "name": "Webhook",
      "webhookId": "37a374b9-2689-4c87-b132-0644e76a2cb0"
    },
    {
      "parameters": {
        "formTitle": "Intégrer le PDF ici !",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        720,
        -1040
      ],
      "id": "395796fe-9fb7-429e-8867-7ec775574302",
      "name": "On form submission1",
      "webhookId": "0201269b-8d13-448c-9577-70be92ea39b8",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-05T11:44:19.000Z",
  "versionId": "d3ba53a4-b90a-4538-8929-e9c6f26cc6cb"
}