workflows/zNhpSD9sDCgBcbGY.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Agent Recherche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Recherche",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Planification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent Recherche": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Planification": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Recherche 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "écrivain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "écrivain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "écrivain": {
      "main": [
        [
          {
            "node": "Airtable3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Agent Planification",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Agent Recherche",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Agent Planification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent Planification",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Agent Recherche 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity1": {
      "ai_tool": [
        [
          {
            "node": "Agent Recherche 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Airtable3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent Recherche 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-18T07:33:35.027Z",
  "id": "zNhpSD9sDCgBcbGY",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-sonar-small-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es un assistant \"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.query.query }}\"\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"search_domain_filter\": [\n    \"perplexity.ai\"\n  ],\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -80
      ],
      "id": "8dc27295-e75c-4e06-a114-7a99f27ffb9a",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        520,
        -80
      ],
      "id": "37341fe1-b1f9-4e61-8913-2ed57c9748ef",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3ba79e2-8693-423a-bbc2-c8c74397ad9e",
              "name": "choices[0].message.content",
              "value": "={{ $json.choices[0].message.content }}\n\nCitations:\n{{ $json.citations }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        -80
      ],
      "id": "67006e4b-bac1-4a41-9b61-506ab0cb8841",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "formTitle": "Article IA sous Stéroide",
        "formDescription": "Insère les informations concernant ton article, et regarde la magie opérer ;)",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Le Sujet"
            },
            {
              "fieldLabel": "Nbr Mots"
            },
            {
              "fieldLabel": "Nbr Sections"
            },
            {
              "fieldLabel": "Ton de l'Article"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        480,
        160
      ],
      "id": "13294506-90e0-4672-a48f-e343a7ffac8b",
      "name": "Form Trigger",
      "webhookId": "5bbb3f3a-24c3-4289-b3d1-9b3770007fff"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        600,
        400
      ],
      "id": "d8e598e6-36a9-465b-ac68-2c4d8545c925",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        920,
        600
      ],
      "id": "98ca8a4e-85c9-46fa-bb7e-f26d0e744c27",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sujet de recherche :  {{ $json['Le Sujet'] }}",
        "options": {
          "systemMessage": "=Vous êtes un Responsable de Recherche spécialisé dans l’analyse approfondie de sujets, la recherche et la structuration de contenus. \n\nVotre tâche est de créer une table des matières enrichie et fondée sur des recherches pour un sujet donné.\n\nSuivez ces étapes :\nAnalysez le sujet fourni de manière approfondie, le sujet est : \"{{ $json['Le Sujet'] }}\".\n\nEffectuez des recherches en ligne pour recueillir des informations, des tendances et des points de vue d'experts actuels sur le sujet.\n\nSynthétisez les informations recueillies pour identifier :\nLes concepts et principes fondamentaux\nLes tendances et développements actuels\nLes opinions d'experts et les meilleures pratiques\nLes applications et exemples concrets\nLes défis potentiels et les solutions\n\nCréez une table des matières complète qui :\nReflète à la fois les connaissances fondamentales et les développements actuels\nIntègre des études de cas et des exemples pertinents\nRépond aux questions et préoccupations courantes\nInclut des applications pratiques et des implications futures\n\nStructurez le contenu de manière hiérarchique, en veillant à :\nUne progression logique et fluide\nDes relations claires entre les sections\nUn équilibre entre les aspects théoriques et pratiques\nL’intégration d’informations fondées sur des recherches\n\nVeuillez formater votre réponse comme suit :\n\nAnalyse du sujet :\n[Résumé bref du sujet et de son importance basée sur les recherches actuelles]\n\nPrincipaux résultats de recherche :\n\n[Résultat 1 provenant de la recherche en ligne]\n[Résultat 2 provenant de la recherche en ligne]\n[Résultat 3 provenant de la recherche en ligne]\n\nProposition de Table des Matières :\n\nI. Introduction\nA. Vue d’ensemble du sujet et pertinence actuelle\nB. Principales tendances et développements\nC. Pourquoi c’est important maintenant\n\nII. Contexte et Historique\nA. Développement historique\nB. Concepts fondamentaux\nC. État actuel du domaine\n\nIII. [Thème principal 1 issu des recherches]\nA. [Résultat clé / Aspect]\nB. [Perspectives d’experts]\nC. [Applications concrètes]\n\nIV. [Thème principal 2 issu des recherches]\nA. [Résultat clé / Aspect]\nB. [Études de cas]\nC. [Implications pratiques]\n\n[Continuer avec des sections supplémentaires basées sur la recherche]\n\nIX. Perspectives futures\nA. Tendances émergentes\nB. Développements potentiels\nC. Recommandations\n\nX. Conclusion\nA. Résumé des points clés\nB. Actions concrètes à mettre en œuvre\nC. Réflexions finales\n\nSources de Recherche :\n[Liste des sources principales consultées]\n\nInstructions d'utilisation :\n\nFournir un sujet spécifique que vous souhaitez analyser.\nL'IA effectuera des recherches en ligne en utilisant des outils disponibles, y compris l'outil de recherche Perplexity.ai.\nSur la base des recherches, elle générera une table des matières complète, actuelle et bien structurée.\nChaque section sera enrichie avec des découvertes récentes et des perspectives d'experts.\nLa structure finale sera adaptée à divers formats de contenu (articles de blog, articles, livres blancs).\nDate d'aujourd'hui : {{ $now}} "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        680,
        160
      ],
      "id": "62099f7e-9044-46ea-ba5f-2e137805ab72",
      "name": "Agent Recherche"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Écrivez le titre, le sous-titre, les détails des chapitres, l'introduction, les conclusions et une proposition d'image pour un article optimisé pour le SEO.\n\nVeuillez utiliser cet ensemble de sujets pour créer les chapitres :{{ $json.fields['Agent Recherche'] }}\n\nInstructions :\n- Placez le titre de l'article dans un champ JSON appelé \"title\".\n- Placez le sous-titre dans un champ JSON appelé \"subtitle\".\n- Placez l'introduction dans un champ JSON appelé \"introduction\".\n- Dans l'introduction, présentez le sujet qui sera ensuite exploré en détail dans le reste du \n\nTexte : \n- L'introduction doit contenir environ 100 mots.\n- Placez les conclusions dans un champ JSON appelé \"conclusions\".\n- Les conclusions doivent contenir environ 100 mots.\n- Utilisez les conclusions pour résumer tout ce qui a été dit dans l'article et offrir une conclusion au lecteur.\n- La proposition d'image servira à produire une image de couverture photographique pour l'article et doit illustrer les sujets abordés dans l'article.\n- Placez la proposition d'image dans un champ JSON appelé \"imagePrompt\".\n- Il doit y avoir {{ $('Form Trigger').item.json['Nbr Sections'] }} chapitres.\n- Pour chaque chapitre, fournissez un titre et une proposition exhaustive qui sera utilisée pour rédiger le contenu du chapitre.\n- Placez les chapitres dans un tableau (array) appelé \"chapters\".\n- Pour chaque chapitre, fournissez les champs \"title\" et \"prompt\".\n- Les chapitres doivent suivre un flux logique et ne pas répéter les mêmes concepts.\n- Les chapitres doivent être liés les uns aux autres et ne pas être des blocs de texte isolés. Le texte doit être fluide et suivre une logique linéaire.\n- Ne commencez pas les chapitres avec « Chapitre 1 », « Chapitre 2 », « Chapitre 3 »... Écrivez simplement le titre du chapitre.\n- Pour le titre et les titres des chapitres, n’utilisez pas de deux-points (:).\n- Pour le texte, utilisez le format HTML.\n- Écrivez dans un style défini par {{ $('Form Trigger').item.json['Ton de l\\'Article'] }} à des informations superficielles.\n\n- Utilisez l'outil perplexity comme source pour faire des recherches sur les sujets nécessaires à la création des chapitres.\n\nLa date d'aujourd'hui est : {{ $now }}.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        920,
        380
      ],
      "id": "e6db83e4-822b-42aa-8e7a-c70b89efe1a1",
      "name": "Agent Planification"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1520,
        400
      ],
      "id": "181cb228-6c56-4d67-8a06-d0dab4b73f06",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1860,
        160
      ],
      "id": "bdf60d8b-9dfd-4a33-b80d-a51b3f4cecbe",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        160
      ],
      "id": "616fbf68-6187-4bd9-af2f-29c8633ccc88",
      "name": "Code"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1840,
        600
      ],
      "id": "033cfbd2-e6b0-4ec5-9087-5e3fe42640a3",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Agent Recherche').item.json.output }}",
        "options": {
          "systemMessage": "=Vous êtes un éditeur expert spécialisé dans l’amélioration et le perfectionnement du contenu afin de garantir qu’il répond aux normes de qualité les plus élevées. Votre rôle est de réviser et d'améliorer le contenu écrit produit par plusieurs auteurs, tout en maintenant l'intégrité académique et une attribution correcte des sources. Votre tâche est de fournir un article hautement optimisé pour le SEO, avec une gestion appropriée des citations.\n\nInstructions de révision de contenu :\nLisez attentivement l'intégralité du contenu.\nVérifiez les erreurs de grammaire, d'orthographe et de ponctuation.\nAssurez la cohérence du ton, du style et de la voix tout au long du texte.\nVérifiez que le contenu est conforme au cahier des charges initial et aux exigences du projet.\nAméliorez la structure des phrases et le flux pour une meilleure lisibilité.\nOptimisez les titres, sous-titres et la mise en page pour un meilleur engagement, en particulier pour le SEO.\nProposez des améliorations ou des ajouts pour améliorer la qualité globale du contenu.\nInstructions de gestion des citations :\nPréservez toutes les citations en ligne des auteurs originaux, au format :\n[Source : Auteur/Nom de la publication].\nIdentifiez et supprimez toutes les citations dupliquées dans différentes sections.\nUniformisez les formats de citation si les auteurs ont utilisé différents styles.\nVérifiez que toutes les affirmations citées sont correctement attribuées.\nAssurez-vous que les citations ne perturbent pas la fluidité de la lecture.\nRecoupez toutes les citations en ligne avec leurs liens sources correspondants.\nFormat unifié de documentation des sources :\nCréez une section unique \"Sources\" à la toute fin de l'article (après la section des conclusions).\nFormatez chaque entrée de source de manière cohérente :\n<li><a href=\"[URL]\">[Nom de la publication] - [Titre de l'article]</a></li>\nIncluez pour chaque source :\nNom de la publication/auteur\nTitre de l'article (si disponible)\nURL complète\nDate d'accès (si disponible)\nClassez toutes les sources par ordre alphabétique en fonction du nom de la publication.\nSupprimez toutes les entrées en double.\nVérifiez que tous les liens sont fonctionnels.\n\nDirectives de SEO et de mise en page :\nMaintenez une mise en forme HTML correcte tout au long du document.\nAssurez-vous que les citations ne perturbent pas l'optimisation des mots-clés.\nFormatez la section \"Sources\" avec des balises HTML appropriées.\nUtilisez des balises de titre appropriées (h1, h2, h3) pour structurer le contenu.\nIncluez des méta-descriptions et des balises de titre correctes si nécessaire.\nFormat de sortie :\nL'article révisé doit être structuré comme suit :\n\nContenu principal avec des citations en ligne.\nSection \"Sources\" à la fin de l'article avec tous les liens de référence. Il ne doit y avoir qu'une seule section \"Sources\".\nExigences supplémentaires :\nMaintenir l'intégrité académique tout en assurant une bonne lisibilité.\nÉquilibrer l'optimisation SEO avec des pratiques de citation appropriées.\nS'assurer que les contributions de tous les auteurs sont correctement attribuées.\nPréserver le sens et l'intention originaux du matériel cité.\nCréer des transitions fluides entre les sections écrites par différents auteurs.\nLa date d'aujourd'hui est : {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1860,
        380
      ],
      "id": "4ae0a8c9-75c2-4f05-9abe-a92e76a44465",
      "name": "écrivain"
    },
    {
      "parameters": {
        "name": "perplexity",
        "description": "Permet de faire de la recherche en ligne",
        "workflowId": {
          "__rl": true,
          "value": "yoeAcG61VKxIy2BA",
          "mode": "list",
          "cachedResultName": "Multi Agent IA Recherche"
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\"query\":\"demande\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        740,
        400
      ],
      "id": "14d54a9f-e765-4a02-855e-835a5e53851a",
      "name": "Perplexity"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appEoip0JoZN0WoaQ",
          "mode": "list",
          "cachedResultName": "Multi Agent Recherche",
          "cachedResultUrl": "https://airtable.com/appEoip0JoZN0WoaQ"
        },
        "table": {
          "__rl": true,
          "value": "tblX9m9kTD7E6paXK",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appEoip0JoZN0WoaQ/tblX9m9kTD7E6paXK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Agent Recherche": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Agent Recherche"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Agent Recherche",
              "displayName": "Agent Recherche",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent Planification",
              "displayName": "Agent Planification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1000,
        160
      ],
      "id": "58ce3e42-4fe3-469c-8152-1559e77e248d",
      "name": "Airtable"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"Mon Titre\",\n  \"subtitle\": \"Mon Sous-Titre\",\n  \"introduction\": \"<p>Une introduction d'environ 100 mots...</p>\",\n  \"chapters\": [\n    {\n      \"title\": \"Premier chapitre\",\n      \"prompt\": \"<p>Contenu détaillé du chapitre...</p>\"\n    },\n    {\n      \"title\": \"Deuxième chapitre\",\n      \"prompt\": \"<p>Contenu détaillé du chapitre...</p>\"\n    }\n  ],\n  \"conclusions\": \"<p>Conclusions d'environ 100 mots...</p>\",\n  \"imagePrompt\": \"Proposition d'image...\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1100,
        580
      ],
      "id": "8ccb1b1a-d2a9-4c16-90c3-caf5a2d06d8d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.chapters",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1260,
        160
      ],
      "id": "9fa8ad2e-9543-4123-ba3b-bdc4c0c1388c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "name": "perplexity",
        "description": "Permet de faire de la recherche en ligne",
        "workflowId": {
          "__rl": true,
          "value": "yoeAcG61VKxIy2BA",
          "mode": "list",
          "cachedResultName": "Multi Agent IA Recherche"
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\"query\":\"demande\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        1640,
        400
      ],
      "id": "d9afd4f3-bbe3-47ef-8891-1ea228fe4b2d",
      "name": "Perplexity1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appEoip0JoZN0WoaQ",
          "mode": "list",
          "cachedResultName": "Multi Agent Recherche",
          "cachedResultUrl": "https://airtable.com/appEoip0JoZN0WoaQ"
        },
        "table": {
          "__rl": true,
          "value": "tblX9m9kTD7E6paXK",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appEoip0JoZN0WoaQ/tblX9m9kTD7E6paXK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Agent Recherche": "={{ $json.output }}",
            "Agent Planification": "={{ $json.title }}"
          },
          "matchingColumns": [
            "Agent Recherche"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Agent Recherche",
              "displayName": "Agent Recherche",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent Planification",
              "displayName": "Agent Planification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1300,
        380
      ],
      "id": "afdb12c3-2049-48ff-ab5c-2f97dba8b5b0",
      "name": "Airtable1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appEoip0JoZN0WoaQ",
          "mode": "list",
          "cachedResultName": "Multi Agent Recherche",
          "cachedResultUrl": "https://airtable.com/appEoip0JoZN0WoaQ"
        },
        "table": {
          "__rl": true,
          "value": "tblX9m9kTD7E6paXK",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appEoip0JoZN0WoaQ/tblX9m9kTD7E6paXK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Agent Recherche": "={{ $json.output }}",
            "Agent 3": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Agent Recherche"
          ],
          "schema": [
            {
              "id": "Agent Recherche",
              "displayName": "Agent Recherche",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent Planification",
              "displayName": "Agent Planification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent 3",
              "displayName": "Agent 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1880,
        -40
      ],
      "id": "5feb8bb2-da12-4c29-85d9-6cc9ed51cd04",
      "name": "Airtable2"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appEoip0JoZN0WoaQ",
          "mode": "list",
          "cachedResultName": "Multi Agent Recherche",
          "cachedResultUrl": "https://airtable.com/appEoip0JoZN0WoaQ"
        },
        "table": {
          "__rl": true,
          "value": "tblX9m9kTD7E6paXK",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appEoip0JoZN0WoaQ/tblX9m9kTD7E6paXK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Agent Recherche": "={{ $json.output }}",
            "Article Final": "={{ $json.output }}",
            "Status": "Done"
          },
          "matchingColumns": [
            "Agent Recherche"
          ],
          "schema": [
            {
              "id": "Agent Recherche",
              "displayName": "Agent Recherche",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent Planification",
              "displayName": "Agent Planification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent 3",
              "displayName": "Agent 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Article Final",
              "displayName": "Article Final",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2260,
        380
      ],
      "id": "ab20237e-1795-44d8-82ff-b2b71ace26b6",
      "name": "Airtable3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Peux tu envoyer un seul email pour indiquer que le workflow à été utilisé.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2520,
        380
      ],
      "id": "5b433842-34d3-4c2c-b380-e54b1d87c755",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sendTo": "quentin@growthsystemes.com",
        "subject": "Nouvelle Recherche",
        "message": "Workflow Réalisé",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2680,
        600
      ],
      "id": "edcec720-2c1d-4187-8182-1841736e9767",
      "name": "Gmail",
      "webhookId": "e9339f79-6530-41e3-b959-c99d308f07f7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2520,
        600
      ],
      "id": "11319bf8-0847-4b95-bc42-578a21058228",
      "name": "OpenAI Chat Model4"
    },
    {
      "parameters": {
        "content": "",
        "height": 420,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2280,
        320
      ],
      "id": "5c642134-2139-47fe-9836-f6728cbd8274",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 800,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        240
      ],
      "id": "bac0dc87-3e8d-4730-8d5f-aec9e0834c57",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1340,
        240
      ],
      "id": "5f72ad02-6699-4635-981d-205d7cdabecd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n",
        "height": 820,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1900,
        40
      ],
      "id": "3da9c0df-f4a3-4a18-b1f2-f6234c05490a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 180,
        "width": 740,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -100
      ],
      "id": "867942c0-c97b-49e2-af04-01a23c225608",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.fields['Article Final'] }}",
        "name": "=New Article",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1221kiOcfnQS0FoDLi9L4cxf6JFxLNIu_",
          "mode": "list",
          "cachedResultName": "Articles ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1221kiOcfnQS0FoDLi9L4cxf6JFxLNIu_"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2100,
        600
      ],
      "id": "2d4a2b99-a6e7-4212-8f1a-35a1c5488e0d",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rédigez un chapitre pour l'article : {{ $('Agent Planification').item.json.output.title }}\n\nRédigez le chapitre intitulé  {{ $json.title }} qui {{ $json.prompt }}.\n\nAssurez-vous d'inclure des citations dans la version finale. Elles sont fournies par l'outil perplexity_ai_search.",
        "options": {
          "systemMessage": "=Vous êtes un agent d'IA dédié à la recherche, travaillant dans une équipe de recherche sous la direction d'un Responsable de Recherche et d'un Planificateur de Projet. Votre tâche est d'écrire un chapitre dans le cadre d'une recherche globale sur un sujet.\n\nDirectives :\n\nRetournez uniquement le texte brut pour chaque chapitre (sans structure JSON).\nUtilisez l'outil perplexity_ai_search pour rechercher le sujet du chapitre.\nUtilisez le format HTML pour la sortie.\nN’ajoutez pas de titres ou d’en-têtes internes.\nLa longueur de chaque chapitre doit être d’environ {{ Math.round($('Form Trigger').item.json['Nbr Mots'] - 120) / $('Form Trigger').item.json['Nbr Sections']}} mots. Approfondissez le sujet traité, ne vous limitez pas à des informations superficielles.\nInformations contextuelles :\n{{ $itemIndex > 0 ? \"- Le chapitre précédent traite de \" + $input.all()[$itemIndex - 1].json.title : \"\" }}\n{{ $itemIndex > 0 ? \"- Le prompt pour le chapitre précédent est \" + $input.all()[$itemIndex - 1].json.prompt : \"\" }}\n{{ $itemIndex < $input.all().length ? \"- Le chapitre suivant traitera de \" + $input.all()[$itemIndex + 1].json.title : \"\" }}\n{{ $itemIndex < $input.all().length ? \"- Le prompt pour le chapitre suivant est \" + $input.all()[$itemIndex + 1].json.prompt : \"\" }}\n\n\nRègles de rédaction :\n\nPrenez en compte les chapitres précédents et suivants lors de la rédaction de ce chapitre. Le texte doit être cohérent avec les chapitres précédents et suivants.\nCe chapitre ne doit pas répéter les concepts déjà exposés dans le chapitre précédent.\nCe chapitre fait partie d’un article plus large, il ne doit donc pas inclure d’introduction ou de conclusions. Le chapitre doit s'intégrer au reste de l'article.\nRédigez dans un style correspondant à {{ $('Form Trigger').item.json['Ton de l\\'Article'] }}.\nUtilisez l'outil en ligne perplexity_ai_search comme source d'informations pour rédiger le chapitre.\nAssurez-vous d'inclure des citations provenant de l'outil perplexity_ai_search dans votre rédaction.\nDirectives de citation :\n\nUtilisez l'outil perplexity_ai_search pour recueillir des informations et citer les sources.\nPour chaque affirmation importante ou information, incluez une citation hyperliée en ligne.\nFormatez les citations comme des liens HTML avec un texte descriptif :\nExemple : <a href=\"URL\">[Source: Nom de la publication]</a>\n\nLorsque vous citez directement une source, utilisez des guillemets et incluez la citation.\nIntégrez les citations naturellement dans le flux du texte sans perturber la lisibilité.\nAssurez-vous que toutes les informations citées sont pertinentes et soutiennent les points principaux du chapitre.\nVérifiez que les citations sont exactes et proviennent directement des résultats de perplexity_ai_search.\nÉquilibrez le contenu cité avec une analyse et une synthèse originales.\nLorsque vous citez des statistiques ou des données spécifiques, incluez l'année si elle est disponible dans la citation.\nIntégration du contenu :\nMélangez harmonieusement les informations citées avec votre analyse originale.\nUtilisez des transitions pour relier le matériel cité à vos propres idées.\nMaintenez le ton spécifié tout en intégrant les citations.\nAssurez-vous que les citations soutiennent, plutôt que de dominer, la narration.\nUtilisez un mélange de paraphrases et de citations directes lorsque vous citez des sources.\nExigences pour la section \"Sources\" :\nÀ la fin de votre chapitre, incluez une section \"Sources\".\nFormatez la section \"Sources\" comme suit :\n\n<hr>\n<h3>Sources</h3>\n<ul>\n  <li><a href=\"[URL]\">[Nom de la publication] - [Titre de l'article]</a></li>\n  [Sources supplémentaires...]\n</ul>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1460,
        160
      ],
      "id": "9e986c51-1264-4d22-a600-a110f0176a8a",
      "name": "Agent Recherche 2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-18T07:33:35.027Z",
  "versionId": "d4174d2f-5122-43f3-be42-5082d6036c29"
}